#loginBox {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 8;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.16), 10, 0.2, 0, 4);
}

.button {
    -fx-background-color: #007ACC;
    -fx-text-fill: white;
}

#borderPane {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #e1f7ff, #007ACC);
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-text-fill: #333333;
    -fx-border-color: #007ACC;
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}